#youtube {
	animation: ytAnimation 3s infinite ease-in-out;
}
#stream {
	animation: streamAnimation 1s infinite ease-in-out;
}

#leftsquares {
	animation: leftsquaresAnimation 2s infinite ease-in-out;
}
#rightsquares {
    animation: rightSquaresAnimation 2s infinite ease-in-out;
}

@keyframes ytAnimation {
	0% {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 960, 540);
	}
	50% {
		opacity: 0;
		transform: matrix(0.1, 0, 0, 0.1, 900.7860107421875, 572.39697265625);
	}
	100% {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 960, 540);
	}
}

@keyframes streamAnimation {
	0% {
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, -100.59835815429688);
	}
	50% {
		transform: matrix(1, 0, 0, 1, 0, -150.59835815429688);
	}
	100% {
		transform: matrix(1, 0, 0, 1, 0, -200.59835815429688);
		opacity: 0;
	}
}

@keyframes leftsquaresAnimation {
	0% {
        transform: matrix(1, 0, 0, 1, 0, -58);
	}
	30% {
		transform: matrix(1, 0, 0, 1, -40, -40);
	}
    60% {
		transform: matrix(1, 0, 0, 1, -60, -30);
    }
	100% {
        opacity: 0;
		transform: matrix(1, 0, 0, 1, -100, -15);
	}
}

@keyframes rightSquaresAnimation {
	0% {
        transform: matrix(1, 0, 0, 1, 0, -58);
	}
	30% {
		transform: matrix(1, 0, 0, 1, 40, -40);
	}
    60% {
		transform: matrix(1, 0, 0, 1, 60, -30);
    }
	100% {
        opacity: 0;
		transform: matrix(1, 0, 0, 1, 100, -15);
	}
}
