@media (max-width: 1024px) {
	.background {
        top: -20% !important;
		background-position: 70% 130%;
	}
}


@media (max-width: 768px) {
	.background {
        height: 130%;
        top: 0% !important;
		background-position: 65% 150%;
	}
}
